# Some binary files that the systems create
.fuse_hidden*
.DS_Store
._.DS_Store
._*

# colabfold parameters from alphafold
colabfold/params*

# log files
cf_*
test_log_*

# old stuff
matplotlib/*
stereo_chemical_props.txt

# my other stuff
my_run_colabfold.sh
old_stuff/*
GPU_3090_*.sh
